@import "~bootstrap/dist/css/bootstrap.min.css";
.pintas {
}
.pinta1 {
  font-size: 100px;
}
.pinta2 {
  font-size: 100px;
}
.pinta3 {
  font-size: 100px;
}
.pinta4 {
  font-size: 100px;
}

.numerito {
  font-size: 200px;
}
